img {
  border-radius: 10%;
}

body {
  color: #000000;
  background-color: peachpuff;
  background-image: url(./Images/back.jpg);
  background-repeat: repeat;
  font-family: 'Times New Roman', Times, serif;
}

a:link {
  color: black;
  font-weight: bolder;
}
a:visited {
  color: darkgoldenrod;
}
a:hover {
  color: lightpink;
}
a:active {
  color: bisque;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-weight: bolder;
}

h1 {
  font-size: 60px;
  font-weight: bolder;
  color: #000000;
}
h2 {
  font-size: 32px;
  font-family: fantasy;
  font-weight: normal;
  color: #000000;
}

.left {
  float: left;
  padding: 0px 20px 20px 0px;
}
.right {
  float: right;
  padding: 0px 20px 20px 0px;
}

#quote {
  color: #ff0080;
  font-size: 24px;
  font-family: serif;
  font-style: italic;
  text-align: center;
}

#nav-set {
  color: #556b2f;
  font-size: 18px;
  font-family: fantasy, serif;
  font-style: bold;
  text-align: right
}

#footer-set {
  color: #FFFFFF;
  background-color: #000000;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center
}